@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lobster&family=Quicksand:wght@300;400;500;600;700&family=Raleway:wght@400;500;600&family=Satisfy&family=Yellowtail&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}

/* Universal Link Styling */
a:link,
a:visited {
    color: #ffffff;
    text-decoration: none;
}

#confirm-section {
    display: grid;
    place-items: center;
    /* width: 100vw;  */
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/confirm-table-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
}

#confirm-container {
    margin: 40px 0;
    overflow: hidden;
    background-color: transparent;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 50vw;
    /* border: 1px solid black; */
    box-shadow: 0 2px 3px 2px #0909095e;

}

#confirm-heading {
    text-align: center;
    background-color: #231F20;
    color: white;
    font-size: 2rem;
    padding: 15px;
}
#confirm-content{
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #ffffff;
    gap: 50px;
}
#check-icon{
    color: darkgoldenrod;
    border-radius: 60%;
    font-size: 200px;
}
#name-code-container{
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 1.6rem;
}
#info-container{
    min-width: 70%;
    max-width: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.info-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px
}
.info-icons-size{
    font-size: 40px;
}
.info-name{
    font-weight: 600;
}
#thank-you-message-container{
    max-width: 85%;
    font-weight: 500;
}
#ok-btn:link, #ok-btn:visited{
    width: 50%;
    padding: 10px 0;
    font-size: 1.3rem;
    font-weight: 700;
    background-color: darkgoldenrod;
}
#ok-btn:hover, #ok-btn:active{
    background-color: rgb(211, 163, 42);
}