@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lobster&family=Quicksand:wght@300;400;500;600;700&family=Raleway:wght@400;500;600&family=Satisfy&family=Yellowtail&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}
/* Universal Link Styling */
a:link,
a:visited {
    color: #ffffff;
    text-decoration: none;
}
#payment-section {
    display: grid;
    place-items: center;
    /* width: 100vw;  */
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/payment-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
}

#payment-container {
    margin: 40px 0;
    overflow: hidden;
    background-color: transparent;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 50vw;
    /* border: 1px solid black; */
    box-shadow: 0 2px 3px 2px #0909095e;

}

#payment-heading {
    text-align: center;
    background-color: #231F20;
    color: white;
    font-size: 2rem;
    padding: 15px;
}

#payment-form {
    display: grid;
    place-items: center;
}

#form-container {
    margin: 40px 0;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

.form-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: #ffffff;
    gap: 10px;

}
input,
select {
    outline: none;
    border: none;
    background-color: rgb(216, 216, 216);
    font-weight: 650;
}

input:hover,
select:hover {
    background-color: rgb(201, 180, 112);
}

input:is(:focus-visible, :focus),
select:is(:focus-visible, :focus) {
    background-color: rgb(201, 180, 112);
}

input:not(input[type="checkbox"]),
select {
    padding: 8px 10px;
    min-height: 50px;
    width: 100%;
}

input:-webkit-autofill,
select:-webkit-autofill {
    box-shadow: 0 0 0 1000px rgb(216, 216, 216) inset !important;
    border-left: 1px solid rgb(216, 216, 216);
    border-right: 1px solid rgb(216, 216, 216);
    border-top: 1px solid rgb(216, 216, 216);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
}
#submit-btn {
    font-size: 1.3rem;
    font-weight: 700;
    background-color: darkgoldenrod;
}
#credit-card-content{
    flex-direction: column;
    text-align: justify;
}
#credit-card-content-heading{
    font-weight: 600;
    font-size: 1.3rem;
}
#submit-btn:hover {
    background-color: rgb(211, 163, 42);
}
::placeholder {
    color: black;
    font-weight: 600;
}